<%= stylesheet_link_tag    'welcome', media: 'all'%>

<div class="age-requirement">
  <h1>By law you are required to be 21 or older to enter</h1>
    <h3 class="entrance"><%= link_to "Click here to enter the site", products_path%></h3>
</div>
